body {
    text-align: center;
     background-color: black;

}

h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#intro{
    background-image: linear-gradient(rgb(192,233,239), rgb(196,216,243));
}

#origami1{
   background-image: linear-gradient(rgb(196,216,243), rgb(200,199,247));
}

#origami2{
  background-image: linear-gradient(rgb(200,199,247), rgb(204,181,251));
}

#origami3{
    background-image: linear-gradient(rgb(204,181,251), rgb(208,164,255));
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}